:root {
	--bg: rgb(245, 245, 245);
	--primary-light: white;
	--primary: rgb(104, 11, 76);
	--text: black;
	--secondary-text: rgb(96, 96, 96);
}

body {
	/* background-color: red; */
	background-color: var(--bg);
}

/* GEN RESET */

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box !important;
}

/* STYLING */

#app {
	height: 100vh;
	/* width: 100vw; */

	padding: 7vh 2em;
}

#loading {
	height: 100vh;
	width: 100vw;

	position: absolute;
	top: 0;
	left: 0;

	display: flex;

	justify-content: center;
	align-items: center;
	text-align: center;
}

h1 {
	font-size: 2.5em;
}

#info {
	display: flex;
	flex-direction: column;
	gap: 0.8em;

	margin-bottom: 1.5em;
}

.layout-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.secondary {
	cursor: pointer;
	color: var(--secondary-text);
	font-size: 1.0em;
	background-color: transparent;
	border: 1px solid transparent;
	text-align: left;
	padding: 0;
}

.secondary:hover {
	color: black;
}



#reload {
	color: black;
	font-weight: bold;
}

#reload:hover {
	color: var(--primary);
}

#col {
	display: flex;
	flex-direction: column;
}

summary {
	margin-bottom: 2em;
	cursor: pointer;
}

summary::marker {
	display: inline-block;
}

summary p {
	display: inline-block;
	margin-left: 0.5em;
	color: var(--secondary-text);
	font-size: 0.9em;
}

p#open {
	display: none;
}

details[open] summary p#closed {
	display: none;
}

details[open] summary p#open {
	display: inline-block;
}

details[open] {
	padding-bottom: 2em;
}

details[open] summary {
	margin-bottom: 0;
}

summary h3 {
	font-size: 2.2em;
}

.sec {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.sec > h3 {
	margin-left: 10vw;
	font-size: 1.5em;
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
	gap: 2em;
	padding: 2em;

	background-color: var(--primary-light);
}

.card .left {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 2em;
	font-variant-numeric: tabular-nums;
}

.card .right {
	height: 100%;
	flex-direction: column;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.card * {
	font-size: 1.1em;
}

.card .right p {
	font-size: 0.98em;
}

/* #reset {
	position: fixed;
	top: 32px;
	left: 32px;
	padding: 1em;
} */

.sec-cont {
	display: flex;
	gap: 1em;
	align-items: center;
	flex-direction: column;
}

hr {
	width: 100%;
}

.card {
	width: 80vw;
}

.chips {
	min-width: 100%;
	text-align: center;
	/* display: flex;
	flex-direction: column;
	align-items: flex-start; */
}

.chip {
	margin: 4px 6px;
	padding: 4px 10px;
	height: 32px;
	border-radius: 32px;
	outline: none;
	background-color: var(--primary-light);
	border: none;
	cursor: pointer;
	/* border: rgb(212, 212, 212) 2px solid; */
	border: white 2px solid;
	color: var(--text);

	font-size: 14px;
}

.chip:hover:not([selected]) {
	/* border: rgb(123, 123, 123) 2px solid; */
	border: var(--primary) 2px solid;
	color: var(--primary);
}

.chip[selected="true"] {
	background-color: var(--primary);
	color: white;
	border-color: var(--primary);
	font-weight: bold;
	padding: 4px 18px;
}

/* SHARE */

summary.no-arrow {
	display: block;
	margin-bottom: 0;
	list-style: none;
}

summary.no-arrow::marker, summary.no-arrow::-webkit-details-marker {
	display: none;
	content: "";
}

#share {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 2em;
	background-color: var(--primary-light);
	border-radius: 24px;
}

.link-box {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1em;
}

.link-box img {
	width: 75%;
}

button.plain {
	width: 90%;
	background-color: transparent;
	color: var(--primary);
	text-align: center;
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

.secondary.large {
	font-size: 1em;
	font-weight: bold;
	color: var(--primary);
	/* padding: 8px; */
	/* border: 1px solid var(--primary); */
	border-radius: 20px;
}

.nopointer {
	pointer-events: none;
}

/* SEARCH */

#search {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	gap: 0.5em;

	width: 100%;
}

#search input {
	flex-grow: 10;
	padding: 8px;
	font-size: 1em;
	/* background-color: var(--primary-light); */
}

#search input:focus {
	outline: none;
	border: 1.7px solid var(--primary);
	border-radius: 10px;
}

#search button {
	padding: 8px 16px;
	color: var(--primary);
	border: solid 1.7px var(--primary);
	border-radius: 10px;
	background-color: var(--primary-light);
	cursor: pointer;
	font-size: 1em;
	font-weight: 800;
}

/* DESKTOP OVERRIDES */

@media (min-width: 720px) {
	#app {
		padding: 7em 5em;
	}
	#share {
		flex-direction: row;
	}
}

/* F O N T S */

*, .sans {
	font-family: "freight-sans-pro", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, .serif {
	font-family: "freight-display-pro", Georgia, 'Times New Roman', Times, serif;
}

.card h3 {
	font-weight: 400;
	font-size: 150%;
}

h1 {
	font-size: 4em;
	/* font-family: "freightbigcmp-pro"; */
	font-weight: 300;
}

button:hover:not(.chip), a:hover {
	color: var(--primary) !important;
}

hr {
	border: 1px solid var(--primary);
}