{% layout "layout.liquid" %}

{% block content %}

  <div id="share">
    SHARE
  </div>

  {% for type in types %}


    <div class="type">
      <h3>{{ type.Type }}</h3>

	  h3
    </div>

  {% endfor %}
  %}

{% endblock %}